.hidden_menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: white;
    top: 0px;
    left: 0;
    z-index: 1000;
    display: flex;                      /* 가로 정렬 설정 */
    flex-direction: column;             /* 아이템을 세로로 배치 */
    justify-content: center;            /* 세로 정렬 */
    align-items: center;                /* 가로 정렬 */
    box-shadow: 10px 0 20px -10px rgba(0, 0, 0, 0.3);
}
.hidden_menu_closed {
    width: 0;
    height: 0;
    overflow: hidden;                   /* 내부 콘텐츠도 숨김 */
    opacity: 0;                         /* 완전히 투명하게 설정 */
    pointer-events: none;               /* 클릭이나 상호작용 차단 */
}
.hidden_menu_bnt {
    position: absolute;
    top: 41.5vh;
    left: -19%;
    z-index: 1000;
    transition: opacity 1.2s ease;      /* 애니메이션 효과 */
    display: inline-block;
    padding: 4px 16px;
    border: 1px solid #dadce0;        /* 버튼 테두리 색 */
    border-radius: 20px;                /* 둥근 모서리 */
    background-color: white;         /* 배경 색 */
    color: #202124;                      /* 텍스트 색 */
    font-size: 14px;                    /* 텍스트 크기 */
    font-weight: 500;                   /* 텍스트 굵기 */
    text-align: center;
    cursor: pointer;
    outline: none;
}
.hidden_menu_bnt:hover {
    background-color: #f7f8f8;        /* 호버 시 배경 색 */
    border-color: #dadce0;            /* 호버 시 테두리 색 */
}
.hidden_menu_bnt.active {    
    background-color: #e8f0fe;
    border-color: #d2e3fc;            /* 클릭 시 테두리 색 */
    color: #1b6ef3;
}
.hidden_menu_bnt_closed {
    width: 0;
    height: 0;
    overflow: hidden;                   /* 내부 콘텐츠도 숨김 */
    opacity: 0;                         /* 완전히 투명하게 설정 */
    pointer-events: none;               /* 클릭이나 상호작용 차단 */
}
.left_menu_btn {
    width: 20px;
    height: 70px;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #f0f0f0;     /* 연한 회색 테두리 */
    background-color: white;       /* 중간 회색 배경 */
    border-left: none;               /* 왼쪽 테두리 제거 */
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 8px;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 2px 4px #f0f0f0(0, 0, 0, 0.1); /* 그림자 추가 */
}
.left_menu_btn:hover {
    background-color: #f0f0f0;
}
.hidden_menu_arrow {                    /* 반대 방향 화살표 스타일 */
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 6px solid #70757a; 
}

.cctv_img {
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    justify-content: center;            /* 수평 가운데 정렬 */
    align-items: center;                /* 수직 가운데 정렬 */
}
.cctv_box_img {
    width: 100%;
    height: 40vh;
}
.cctvimage {
    width: 100%;
}

.cctv_list {
    background-color: white;
    width: 100%;
    height: 60%;
    overflow-y: auto;                   /* 세로 스크롤 추가 */
    overflow-x: hidden;                 /* 가로 스크롤 숨김 */
    scrollbar-width: thin;              /* Firefox에서 얇은 스크롤바 */
    scrollbar-color: #70757a #f1f3f4;/* Firefox에서 스크롤 색상 */
}
.sort-buttons {
    display: flex;                      /* 버튼들을 Flexbox로 설정 */
    justify-content: flex-end;          /* 버튼들을 우측 정렬 */
    gap: 5px;                           /* 버튼 사이 간격 */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}
.sort-bnt {
    transition: opacity 1.2s ease;      /* 애니메이션 효과 */
    display: inline-block;
    padding: 4px 16px;
    border: 1px solid #dadce0;        /* 버튼 테두리 색 */
    border-radius: 20px;                /* 둥근 모서리 */
    background-color: white;          /* 배경 색 */
    color: #202124;                   /* 텍스트 색 */
    font-size: 14px;                    /* 텍스트 크기 */
    font-weight: 500;                   /* 텍스트 굵기 */
    text-align: center;
    cursor: pointer;
    outline: none;
}
.sort-bnt:hover {
    background-color: #f7f8f8;        /* 호버 시 배경 색 */
    border-color: #dadce0;            /* 호버 시 테두리 색 */
}
.sort-bnt.active {    
    background-color: #e8f0fe;
    border-color: #d2e3fc;            /* 클릭 시 테두리 색 */
    color: #1b6ef3;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;                   /* 테이블 중앙 정렬 */
    overflow-x: auto;                   /* 테이블이 화면을 넘어갈 경우 스크롤 */
    max-width: calc(100% - 10px);       /* 테이블 최대 너비 */
}
.cctv-table {
    width: calc(100% - 10px);           /* 테이블 전체 너비 */
    font-family: Arial, sans-serif;
    font-size: 14px;                    /* 폰트 크기 */
    text-align: center;                 /* 텍스트 정렬 */
    background-color: #fff;
    margin-bottom: 5px;
    border-collapse: collapse;          /* 테두리 간격 제거 */
    border-radius: 15px;                /* 모서리를 둥글게 */
    border: 1px solid black;           /* 셀 테두리 */
    overflow: hidden;                   /* 둥근 모서리 밖으로 내용 넘치지 않게 */
    transition: box-shadow 0.3s ease;   /* 마우스 hover 효과 부드럽게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 기본 그림자 */
}
.cctv-table:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 마우스 hover 시 그림자 강조 */
}
.cctv-table th,
.cctv-table td {
    border-bottom: 1px solid #ddd;      /* 아래쪽 테두리만 설정 */
    border-right: 1px solid #ddd; 
}
.cctv-table th {
    background-color: #f4f4f4;        /* 헤더 배경색 */
    font-weight: bold;                  /* 헤더 폰트 굵게 */
}
.cctv-table td {
    text-align: center;                 /* 텍스트 중앙 정렬 */
    vertical-align: middle;             /* 텍스트 세로 정렬 */
}
.image-cell {
    width: 40%;                         /* 이미지 셀 너비 */
    text-align: center;                 /* 텍스트 중앙 정렬 */
}
.image-container {
    width: 100%;                        /* 이미지 컨테이너 너비 */
}
.field-label {
    width: 95px;
    font-weight: bold;                  /* 필드 이름 강조 */
    background-color: #f9f9f9;        /* 필드 이름 배경색 */
    text-align: center; 
}
